<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-6'>
        <strong>Trạng thái:</strong>
        <span id='current-status-delivery'> <%= delivery_status(@delivery.status) %></span>
        <br>
        <% if @delivery.status == 'cancelled' %>
          <small class="font-italic">
            <strong>Lý do hủy:</strong>
            <span id='current-status-delivery'> <%= @delivery.reason %></span>
          </small>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='card mt-4'>
  <div class='card-body'>
    <div class='row'>
      <div class='col-12'>
        <h4 class="">Chi tiết đơn hàng <%= @delivery.code %></h4>
      </div>
    </div>
    <div class='row my-2'>
      <div class='col-6'>
        <p><strong>Khách hàng</strong>: <span><%= @delivery.bill&.user&.name %></span></p>
        <p><strong>Hóa đơn</strong>: <span><%= @delivery.bill&.code %></span></p>
        <p><strong>Đại lý</strong>: <span><%= @delivery.brand&.name %></span></p>
      </div>
      <div class='col-6'>
        <p><strong>Số điện thoại</strong>: <span><%= @delivery.phone %></span></p>
        <p><strong>Địa chỉ</strong>: <span><%= @delivery.address %></span></p>
        <p><strong>Ghi chú</strong>: <span><%= @delivery.note %></span></p>
      </div>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <td>STT</td>
        <td>Tên sản phẩm</td>
        <td>Đơn giá</td>
        <td>Số lượng</td>
        <td>Giảm giá</td>
        <td>Thành tiền</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="7">Danh sách sản phẩm</td>
      </tr>
      <% @delivery.line_items.each_with_index do |line_item, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= line_item.target.product&.name %></td>
          <td><%= format_currency(line_item.price) %></td>
          <td><%= line_item.quantity %></td>
          <td>
            <%= format_currency(line_item.discount) %><br>
            <small class="font-italic">Mã giảm giá:<%= line_item.promotion&.code %></small>
          </td>
          <td><%= format_currency(line_item.amount) %></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="5" class="text-center"><strong>Tổng tiền</strong></td>
        <td>
          <h5><%= format_currency(@delivery.amount) %></h5>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <%= form_tag '', id: 'cancelForm', remote: true do %>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Lý do hủy</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= text_area_tag('reason', '', class: 'form-control') %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <%= submit_tag 'Lưu', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<script>
    $(document).on('show.bs.modal	', '#cancelModal', function () {
        $('#cancelForm').attr('action', $('#link-to-modal-cancel').data('href'))
    })
</script>