<div class='card'>
  <div class='card-body'>
    <h4>Mẫu file nhập</h4>
    <%= link_to ' <i class="fa-solid fa-download"></i> Tải về mẫu file nhập'.html_safe,
                download_template_supplier_inventory_products_path,
                download: "file",
                data: { turbolinks: false },
                disposition: "attachment" ,
                class: 'btn btn-primary' %>

  </div>
</div>
<div class='card mt-5'>
  <div class='card-body'>
    <h4>Nhập sản phẩm vào kho</h4>
    <%= form_with url: import_supplier_inventory_products_path, method: :post do |f| %>
        <div class='form-group'>
          <%= f.file_field :file, accept: '.csv' ,class: 'form-control', required: true  %>
        </div>
      <%= f.submit "Nhập Ngay", class: 'btn btn-success'%>
      <%= f.submit "Xếp hàng đợi", class: 'btn btn-danger'%>
      <%= link_to 'Hủy', supplier_inventory_products_path, class: 'btn btn-secondary mx-3', data: { confirm: 'Bạn có chắc không' } %>
    <% end %>
  </div>
</div>
<% if @message.present? %>
  <div class='card mt-3'>
    <div class='card-body'>
      <%= @message.join('<br>').html_safe %>
    </div>
  </div>
<% end %>